#search-university {
  padding-top: 50px;

  .main__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .main__header-img {
      width: 70px;
      height: 30px;
    }
    .main__header-user-info {
      display: flex;
      align-items: center;
      span {
        font-weight: 600;
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-right: 12px;
      }
    }
  }

  .main__hiden-panel {
    width: 360px !important;
  }
  .main__choices {
    margin-top: 24px;
  }

  .main__content {
    min-height: 100vh;
    margin: 24px 0;
  }

  .search-bar {
    label {
      display: flex;
      align-items: center;
      background-color: var(--white-color);
      border-radius: 20px;
      border: 2px solid var(--primary-color);
      overflow: hidden;
      padding: 0px 12px;
      input {
        width: 400px;
        background-color: inherit;
        padding: 8px 16px 9px 16px;
        border: none;
      }
      .icon {
        font-size: 1.6rem;
      }
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    min-height: 360px;
    padding: 12px;
    border-radius: 10px;
    background-color: var(--white-color);
    text-decoration: none;

    &:hover {
      box-shadow: 1px 1px 6px var(--primary-color);
      transition: all 0.3s ease-out;
    }

    img {
      width: 240px;
    }
    p {
      padding: 16px;
      color: #333;
    }
  }

  //--------- Navbar hide -------------
  .app__navbar-menu {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      outline: 4px solid rgba(0, 0, 0, 0.05);
    }

    img {
      width: 100%;
      height: fit-content;
      color: var(--white-color);
    }

    div {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 5;

      padding: 1rem;

      width: 80%;
      height: 100vh;
      background-color: transparent;

      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;

      background-color: var(--white-color);
      background-size: cover;
      background-repeat: repeat;

      box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);

      svg {
        width: 35px;
        height: 35px;
        color: var(--primary-color);
        margin: 0.5rem 1rem;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        li {
          margin: 1rem;

          a {
            color: var(--gray-color);
            text-decoration: none;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 500;

            transition: all 0.3s ease-in-out;

            &:hover {
              color: var(--primary-color);
            }
          }
        }
      }
      // @media screen and (min-width: 992px) {
      //     display: none;
      // }
    }
    // @media screen and (min-width: 992px) {
    //     display: none;
    // }
  }

  .app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;

    li {
      margin: 0 1rem;
      cursor: pointer;

      flex-direction: column;
      &:hover {
        color: var(--primary-color);
      }

      div {
        width: 5px;
        height: 5px;
        background: transparent;
        border-radius: 50%;

        margin-bottom: 5px;
      }

      a {
        color: var(--gray-color);
        text-decoration: none;
        flex-direction: column;

        text-transform: uppercase;
        font-weight: 500;

        transition: all 0.3s ease-in-out;
      }

      &:hover {
        div {
          background: var(--primary-color);
        }
      }
    }
    @media screen and (max-width: 900px) {
      display: none;
    }
  }
}
