#form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 500px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 24px 12px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);

    .alert {
        color: var(--primary-color);
    }

    .form__img {
        width: 240px;
        height: 240px;
    }

    .form__title {
        padding: 12px 0;
    }

    form {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        button {
            width: 300px;
            outline: none;
            border: none;
            background-color: var(--primary-color);
            color: var(--white-color);
            padding: 12px 24px;
            border-radius: 10px;
            font-size: 1.1rem;
            margin: 24px 0px;

            &:hover {
                background-color: var(--white);
                color: var(--secondary-color);
                text-decoration: underline;
                outline: 2px solid var(--primary-color);
                box-shadow: 0px 1px 4px var(--primary-color);
                transition: all 0.3s ease-in-out;
            }
        }
    }
    
    .form__switch {

        a {
            text-decoration: none;
            color: #333;
            cursor: auto;
        }

        .form__switch-highlight {
            color: var(--secondary-color);
            cursor: pointer;

            &:hover {
                color: var(--primary-color);
            }
        }
    }
}