/*-----------------------------------------------------------
 Portfolio
-------------------------------------------------------------*/
.portfolio-aside img {
    margin-top: 20px;
    position: absolute;
    left: -20px;
    z-index: -1;
  }
  .work-box {
    margin-bottom: 30px;
  }
  .work-box img {
    width: 370px;
    height: auto;
  }
  /* Portfolio Gallery Hover */
  .photobox{
    display: inline-block;
    overflow: hidden;
  }
  .photobox__previewbox{
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  .photobox__preview{
    display: block;
    max-width: 100%;
  }
  .photobox__previewbox:before{
    content: "";
  }
  .photobox_type10 .photobox__previewbox:before{
    width: 0;
    height: 0;
    padding: 25%;
    background-color: #314584;
    opacity: 0.8;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) ease;
    will-change: transform;
    transform: translate(-50%, -50%) scale(0);
  }
  .photobox_type10:hover .photobox__previewbox:before{
    transform: translate(-50%, -50%) scale(4);
    transition-duration: var(--photoboxAnimationDuration, .8s);
  }
  .photobox_type10 .photobox__label{
    width: 95%;
    text-align: center;
    opacity: 0;  
    transition: opacity calc(var(--photoboxAnimationDuration, .8s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9), transform calc(var(--photoboxAnimationDuration, .8s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: opacity, transform;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    z-index: 3;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 1.1rem; 
  }
  .photobox_type10:hover .photobox__label{
    opacity: 1;
    transform: translate(-50%, -50%);
    transition-duration: calc(var(--photoboxAnimationDuration, .8s) / 2);
    transition-delay: calc(var(--photoboxAnimationDuration, .8s) / 4);
  }
  .hide {
    display: none;
    transition: all 0.3s ease;
  }