/*-----------------------------------------------------------
  Feedback
-------------------------------------------------------------*/
#feedback {
  margin-top: 24px;
}

.contact {
    max-height: 550px;
  }
  .email input {
    width: 100%;
    height: 60px;
    background-color: #F4FAFE;
    border: none;
    padding: 0px 20px;
    color: #314584;
    font-weight: 600;
    margin-bottom: 15px;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #314584;
    font-weight: 600;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #314584;
    font-weight: 600;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #314584;
    font-weight: 600;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #314584;
    font-weight: 600;
  }
  textarea {
    background-color: #F4FAFE;
    border: none;
    width: 100%;
    padding: 20px;
    margin-top: 15px;
    color: #314584;
    font-weight: 600;
  }