@media (max-width: 1700px) {
    .hero-btns {
      margin-bottom: 200px;
    }
  }
  @media (max-width: 1500px) {
    .hero img {
      margin-top: 130px;
    }
  }
  @media (max-width: 1350px) {
    .hero-btns {
      margin-bottom: 140px;
    }
  }
  @media (max-width: 1199px) {
    .nav-item {
      padding: 0px; 
    }
    .navbar-light .navbar-nav .nav-link {
      font-size: 1rem;
    }
    .contact-btn button {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow:none;
      background-color: none;
      font-size: 1rem;
  }
    .hero img {
      margin-top: 150px;
      width: 45%;
    }
    .hero h1 {
      margin-top: 150px;
    }
    .hero-content {
      width: 500px;
      text-align: justify;
      margin-top: 52px;
    }
    h2 {
      font-size: 2rem;
      line-height: 3.0rem;
    }
    h3 {
      font-size: 1.4rem;
      line-height: 2rem;
      margin-bottom: 20px;
    }
    .services p {
      font-size: 0.8rem;
    }
    .hero-btns {
      margin-bottom: 120px;
    }
  }
  @media (max-width: 991px) {
    .navbar {
      padding: 15px 0 0 0;
    }
    .hero img {
      display: none;
    }
    .hero {
      text-align: center;
    }
    .hero h1 {
      margin-top: 80px;
    }
    .hero-content {
      width: fit-content;
      text-align: center;
      margin-top: 52px;
    }
    .navbar-collapse {
      text-align: center;
      margin-top: 50px;
    }
    .navbar-light .navbar-nav .nav-link {
      font-size: 2rem;
    }
    .hero-btns {
      margin-bottom: 70px;
    }
    .service-txt {
      text-align: center;
    }
    .about img {
      margin-bottom: 70px;
    }
    .about {
      text-align: center;
    }
    .portfolio {
      text-align: center;
    }
    .blog {
      text-align: center;
    }
    .blog-box {
      margin: 0 auto;
      margin-bottom: 25px;
    }
    .contact {
      text-align: center;
    }
  
  }
  @media (max-width: 768px) {
    .hero h1 {
      font-size: 3.5rem;
    }
    .service-box {
      padding: 20px 25px;
      margin: 0px;
    }
    .contact-nav a {
      font-size: 1rem;
      padding: 20px 5px;
    }
  }
  
  @media (max-width: 575px) {
    .service-box {
      padding: 20px 25px;
      max-width: 300px;
      margin: 0 auto;
      margin-bottom: 40px;
    }
    footer h3{
      font-size: 2.5rem;
    }
  }
  @media (max-width: 454px) {
    .hero h1 {
      font-size: 3.0rem;
      margin-top: 50px;
    }
    .hero p {
      font-size: 0.8rem;
    }
    .hero-btns a:first-child {
      font-size: 0.8rem;
      display: block;
      width: 70%;
      margin: 0 auto;
    }
    .hero-btns a:last-child {
      font-size: 0.8rem;
      display: block;
      width: 70%;
      margin: 0 auto;
    }
    footer h3{
      line-height: 2.6rem;
    }
    .contact-nav li {
      display: block;
    }
    .social li {
      display: block;
    }
  }